
body {
    background-image: url("./assets/weatherback.jpg");
}
h1 {
    padding: 10px;
}

h3 {
    float: left;
}

h4 {
    color: yellow;
}

h5 {
    color: yellow;
}
.clear {
    clear: left;
}

.col-md-8 {
    padding-left: 0px;
}

.blueCard {
    padding: .3rem;
}

a, a:link:active  {
    text-decoration: none;
    color: grey;
}